@font-face {
    font-family: 'NeueHaasDisplayXThin';
    src: url('NeueHaasDisplayXThin.woff2') format('woff2'),
         url('NeueHaasDisplayXThin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Updated to align text to the left */
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, white, darkred, black);
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gestating {
    font-family: 'NeueHaasDisplayXThin', sans-serif;
    color: #9c2323;
    font-size: 30px;
    position: relative;
    z-index: 2;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.header {
    position: absolute;
    top: 10px;
    left: 10px; /* Updated to align text to the left */
    font-family: 'NeueHaasDisplayXThin', sans-serif;
    font-size: 40px;
    color: white;
}

.navigation {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Updated to span the full width of the page */
}

.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly; /* Updated to distribute elements evenly */
    width: 100%; /* Updated to span the full width of the navigation */
}

.navigation ul li {
    margin: 0 10px;
}

.navigation ul li a {
    font-family: 'NeueHaasDisplayXThin', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.navigation ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: white;
}
